@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.5rem; }

a {
  color: inherit;
  text-decoration: none;
  font-family: Raleway; }

img {
  max-width: 100%; }

:root {
  --main-blue: #034b75;
  --main-pink: #ff5ea0;
  --main-yellow: #ffd005;
  --main-green: #1bce6e;
  --fonts-grey: #566270;
  --padding-btn:5px 20px;
  --section-margin-bottom:100px;
  --title-font: 700;
  --title-text: 400;
  --font-size-title:50px;
  --font-size-subtitle:38px;
  --btn-bdr-radius:50px;
  --fonts:'Open Sans', sans-serif;
  --fonts-bold:700;
  /*Root for Mobile */
  --font-size-title_mob:30px;
  --font-size-subtitle_mob:18px; }

h1, h2, h3, h4, a, p, li, em, b, input, button {
  font-family: var(--fonts) !important; }

header {
  background-color: var(--main-blue);
  color: white;
  font-weight: var(--fonts-bold);
  height: 100vh;
  min-height: 500px;
  padding: 100px; }
  header img {
    display: block;
    margin: auto; }
  header .ht-landing-form-text {
    padding: 100px; }
    header .ht-landing-form-text h2 {
      color: var(--main-green); }
  header .form--wrapper {
    margin: 20vh auto;
    display: flex; }
    header .form--wrapper div {
      width: 50%; }
    header .form--wrapper form input {
      display: block;
      width: 100%;
      padding: 6px 15px;
      border: 1px solid var(--main-green);
      border-radius: 50px;
      margin: 10px; }
    header .form--wrapper form input[type="submit"] {
      width: 50%;
      margin: auto;
      color: white;
      border: 0;
      background-color: var(--main-pink); }

.ht--mission-statement {
  text-align: center;
  padding: 100px; }
  .ht--mission-statement h2, .ht--mission-statement p {
    color: var(--main-blue); }

.ht--live-chat {
  background-color: var(--main-yellow);
  padding: 100px;
  display: flex; }
  .ht--live-chat p {
    display: block;
    margin: 10% auto;
    margin-left: 10%;
    color: var(--main-blue);
    font-weight: bolder; }

.ht--messaging {
  background-color: var(--main-pink);
  padding: 100px;
  display: flex; }
  .ht--messaging p {
    display: block;
    margin: 10% auto;
    margin-right: 10%;
    color: var(--main-blue);
    font-weight: bolder; }

.ht--analytics {
  background-color: var(--main-green);
  padding: 100px;
  display: flex; }
  .ht--analytics p {
    display: block;
    margin: 10% auto;
    margin-right: 10%;
    color: var(--main-blue);
    font-weight: bolder; }
  .ht--analytics p, .ht--analytics img {
    margin: auto; }

.ht--benefits {
  background-color: var(--main-blue);
  padding: 100px;
  text-align: center; }
  .ht--benefits .flex--wrapper {
    margin: 10% auto;
    display: flex; }
    .ht--benefits .flex--wrapper article {
      margin: auto;
      width: 25%; }
  .ht--benefits h2 {
    color: white;
    font-weight: var(--fonts-bold); }
  .ht--benefits h3 {
    color: var(--main-green); }
  .ht--benefits p {
    display: block;
    margin: 10% auto;
    margin-right: 10%;
    color: white;
    font-weight: bolder; }
  .ht--benefits p, .ht--benefits img {
    margin: auto; }
  .ht--benefits .ht--button-wide {
    border-radius: 34px;
    border: 0;
    padding: 7px 15px;
    color: white;
    background-color: var(--main-pink); }

@media screen and (max-width: 975px) {
  .form--wrapper, .ht--live-chat, .ht--messaging, .ht--analytics, .flex--wrapper {
    flex-direction: column; }
  header {
    height: 100%; }
    header .form--wrapper {
      margin: 10vh auto; }
      header .form--wrapper .ht-landing-form-text {
        padding: 35px 10px; }
      header .form--wrapper div {
        width: 100%; }
      header .form--wrapper form input {
        margin: 10px auto; }
  header, section {
    text-align: center; }
  .ht--benefits .flex--wrapper article {
    width: 100%;
    margin: 50px auto; } }

/*Sponsor Page*/
.ht--sponsor-page {
  position: relative;
  background-color: var(--main-green);
  text-align: center;
  overflow: hidden; }
  .ht--sponsor-page h2 {
    color: var(--main-blue);
    margin: 10%  auto; }

.ht--sponsor-page::before {
  background: url(../img/exclamation.svg) 0 0 repeat;
  background-size: 30px;
  content: "";
  position: absolute;
  width: 200%;
  height: 175%;
  overflow: hidden;
  top: -50%;
  left: -50%;
  z-index: 0;
  opacity: .1;
  transform: rotate(15deg); }

.ht--community-brands {
  background-color: var(--main-blue); }
  .ht--community-brands h2 {
    color: var(--main-green);
    padding: 5%;
    text-align: center; }
  .ht--community-brands .flex--wrapper {
    display: flex;
    margin: 10% auto; }
    .ht--community-brands .flex--wrapper article {
      text-align: center;
      width: 45%;
      margin: auto;
      padding: 5%; }
      .ht--community-brands .flex--wrapper article p {
        margin-top: 10px;
        color: white;
        font-weight: 700; }
        .ht--community-brands .flex--wrapper article p em {
          color: var(--main-green);
          font-style: normal; }
