* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem
}

a {
    color: inherit;
    text-decoration: none;
    font-family: Raleway;   

}

img {
    max-width: 100%
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');


:root {
    --main-blue: #034b75;
    --main-pink: #ff5ea0;
    --main-yellow: #ffd005;
    --main-green: #1bce6e;  
    --fonts-grey: #566270;
    --padding-btn:5px 20px;

    --section-margin-bottom:100px;
    --title-font: 700;
    --title-text: 400;

    --font-size-title:50px;
    --font-size-subtitle:38px;
    --btn-bdr-radius:50px;
    --fonts:'Open Sans', sans-serif;
    --fonts-bold:700;
    /*Root for Mobile */

    --font-size-title_mob:30px;
    --font-size-subtitle_mob:18px;


    
    
}



h1,h2,h3,h4,a,p,li,em,b,input,button{
    font-family:var(--fonts) !important;


}


header{
    background-color:var(--main-blue);
    color:white;
    font-weight:var(--fonts-bold);
    height:100vh;
    min-height:500px;
    padding:100px;
    img {
        display:block;
        margin:auto;
    }
    .ht-landing-form-text{
        padding: 100px;
        h2{
            color:var(--main-green);
        }
    }
    .form--wrapper{
        margin:20vh auto;
        display:flex;
        div{
            width:50%;

        }

        form{
            input{
                display: block;
                width:100%;
                padding:6px 15px;
                border:1px solid var(--main-green);
                border-radius: 50px;
                margin:10px;

            }
            input[type="submit"]{
                width:50%;
                margin:auto;
                color:white;
                border:0;
                background-color: var(--main-pink);
            }
        }
        
    }


}
.ht--mission-statement{
    text-align:center;
    padding:100px;
h2,p{
    color:var(--main-blue);
}

}

.ht--live-chat{
    background-color:var(--main-yellow);
    padding:100px;
    display:flex;
    p{
        display:block;
        margin:10% auto;
        margin-left:10%;
        color:var(--main-blue);
        font-weight: bolder;
        
    }


}

.ht--messaging{
    background-color:var(--main-pink);
    padding:100px;
    display:flex;
    p{
        display:block;
        margin:10% auto;
        margin-right:10%;
        color:var(--main-blue);
        font-weight: bolder;
        
    }


}

.ht--analytics{
    background-color:var(--main-green);
    padding:100px;
    display:flex;
    p{
        display:block;
        margin:10% auto;
        margin-right:10%;
        color:var(--main-blue);
        font-weight: bolder;
        
    }

    p,img{
        margin:auto;
    }


}

.ht--benefits{
    background-color:var(--main-blue);
    padding:100px;
    text-align:center;
    .flex--wrapper{
        margin:10% auto;
        display:flex;
        article{
            margin:auto;
            width:25%;
        }
    }
    h2{
        color:white;
        font-weight:var(--fonts-bold);

    }
    h3{
        color:var(--main-green);
    }

    
    p{
        display:block;
        margin:10% auto;
        margin-right:10%;
        color:white;
        font-weight: bolder;
        
    }

    p,img{
        margin:auto;
    }
    .ht--button-wide{

        border-radius: 34px;
        border:0;
        padding:7px 15px;
        color:white;
        background-color: var(--main-pink);

    }

}



@media screen and ( max-width:975px){

.form--wrapper,.ht--live-chat,.ht--messaging,.ht--analytics,.flex--wrapper{
    flex-direction: column;
}

header{
    height:100%;
    .form--wrapper{
        margin: 10vh auto;
        .ht-landing-form-text{
            padding: 35px 10px;
        }
        div{
            width:100%;
        }
        form{
            input{
                margin: 10px auto;
            }
        }
       
    }
}
header,section{
    text-align:center;
}

.ht--benefits{

    .flex--wrapper {
        article{
            width:100%;
            margin: 50px auto;
        }
    }

} 
}






/*Sponsor Page*/

.ht--sponsor-page{
    position:relative;
    background-color: var(--main-green);
    text-align: center;
    overflow:hidden;
   
    h2{
        color:white;
        margin:10%  auto ;
    }
    img:last-of-type{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color:var(--main-pink);
    }

}

.ht--sponsor-page::before{
    background: url(../img/exclamation.svg) 0 0 repeat;
    background-size: 30px;
    content: "";
    position: absolute;
    width: 200%;
    height: 175%;
    overflow: hidden;
    top: -50%;
    left: -50%;
    z-index: 0;
    opacity: .1;
    transform: rotate(15deg);
}

.ht--community-brands{
    background-color: var(--main-blue);
    h2{
        color:var(--main-green);
        padding: 5%;
        text-align:center;

    }
    .flex--wrapper{
        display:flex;
        article{
            text-align:center;
            width:45%;
            margin:auto;
            padding: 5%;
            p{
                margin-top:10px;
                color:white;
                font-weight:700;
                em{
                    color:var(--main-green);
                    font-style: normal;
                }
            }
        }
    }
}
.ht--share-link{
    background-color: var(--main-pink);
    padding: 5% 7.5%;
    h2{
        color:var(--main-blue);
        padding: 5%;
        text-align:center;

    }
    p{
        color:white;
        font-weight:var(--fonts-bold);
        text-align:center;
    }
    input{
        width:50%;
        display:block;
        margin:10% auto;
        padding:10px;
        border-radius:50px;
        border:1px solid var(--main-blue);

    }
    .flex--wrapper{
        display: flex;
        width: 85%;
        margin: auto;
        
    }
    .ht--button-md{
        border-radius: 34px;
        width:40%;
        margin:auto;
        border:0;
        padding:7px 15px;
        color:white;
        background-color: var(--main-blue);
        a{
            display:block;
            margin:auto;
            text-align:center;
            position:relative;
            width:90%;
            
        }
        em{
            width:25px;
            margin-left:25px;
            position:absolute;
            right:0;
            top:50%;
            transform:translateY(-50%);
            
            img{
                width:25px;
            }
        }

    }


}

@media screen and ( max-width:975px){
    .ht--sponsor-page{
        min-height: 700px; 
    }
    .ht--share-link {
        input{
            width: 80%;   
        }
        .ht--button-md{
            margin:10px auto;
            width: 80%;
            em{
                display:none;
            }
        }



    }



}