* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem
}

a {
    color: inherit;
    text-decoration: none;
    font-family: Raleway;   

}

img {
    max-width: 100%
}


/* Google fonts  */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


:root {
    --main-blue: #034b75;
    --main-pink: #ff5ea0;
    --main-yellow: #ffd005;
    --main-green: #1bce6e;  
    --fonts-grey: #566270;
    --padding-btn:5px 20px;

    --section-margin-bottom:100px;
    --title-font: 700;
    --title-text: 400;

    --font-size-title:50px;
    --font-size-subtitle:38px;
    --btn-bdr-radius:50px;
    --fonts:'Open Sans', sans-serif;

    /*Root for Mobile */

    --font-size-title_mob:30px;
    --font-size-subtitle_mob:18px;


    
    
}



h1,h2,h3,h4,a,p,li,em,b{
    font-family:var(--fonts);


}


header{
    background-color:var(--main-blue);
    color:white;
    height:100vh;
    min-height:500px;
}

